{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ settings.site_title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <link href="{% static 'css/output.css' %}" rel="stylesheet" />
    <link href="{% static 'css/output.css' %}" rel="stylesheet" />
  </head>
  <body class="bg-gray-900 text-white">
    <main>{% block content %} {% endblock content %}</main>

    <div
      id="konami-overlay"
      class="hidden fixed inset-0 bg-black z-50 flex items-center justify-center cursor-pointer"
    >
      <div
        id="game-info"
        class="absolute top-5 left-5 font-display text-2xl text-white"
      >
        Score: 0
      </div>
      <canvas id="matrix-canvas"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"></script>

    <script src="{% static 'js/particles-config.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
